.header {
  margin-top: 90px;
  margin-bottom: 92px;
  display: grid;
  width: 100%;
  font-size: 18px;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: 100%;
}

.menu {
  margin-right: 30px;
}

.menu_list {
  height: 100%;
  width: 100%;  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
}

.header__links-list-item {
  list-style-type: circle;  
  list-style-position: inside;  
}

.header__links-list-item_no-bullit {
  list-style: none;
  margin-left: 50px; 
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.logo {
  justify-self: center;
}

.logo_img {
  height: 105px;
  width: 148px;
}

.header_contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-content: center;
  text-underline-offset: 4px;  
}

.address {
  text-underline-offset: 4px;
  line-height: 24px;
  font-size: 18px;
  font-style: normal;
}

.address_margin {
  margin-right: 85px;
}

.cover {
  width: 100%;
  min-height: 757px; 
  position: relative;  
  display: flex;
  margin-bottom: 180px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  background-image: url("../images/cover.jpg");  
  background-size: cover;
  background-position: center;  
}

.cover__title {  
  width: inherit;  
  color: white;
  z-index: 1;
  font-size: 100px;
  font-weight: bold;
  margin-top: 110px;
  padding-left: 50px;
  padding-right: 25px; 
  line-height: 125px;  
}

.aligned-text { 
  display: flex;    
}

.aligned-text_center {  
  display: flex; 
  justify-content: center;   
}

.aligned-text_right {    
  display: flex; 
  justify-content: flex-end;  
}

.no-letter-spacing {
  letter-spacing: 29px; 
}

.letter-spacing-extended {
  letter-spacing: 61px;
}

.cover__description {   
  z-index: 1;
  display: flex;
  margin-left: 80px;
  margin-top: 20px;
}

.cover__description-text {
  text-transform: uppercase;
  color: white;
  font-size: 22px;
  font-weight: normal;
  word-spacing: 18.5px;
  line-height: 50px;
}

.bid-button {
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  font-size: 22px;
  font-weight: normal;
  border: 1px solid white;
  margin-left: 79px;
  padding: 11px 31px;
  font-family: Raleway, sans-serif;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  z-index: 0;    
}

.lots {
  width: 100%;
}

.lots_heading {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 25px;
  margin-left: 63px;
  background-color: transparent;
}

.lots__card-list {
  display: flex; 
  margin-bottom: 30px;
  margin-left: 23px;
  flex-wrap: wrap;
  row-gap: 25px;
}

.lots__card-list-item {
  list-style-type: none;
  width: 334px;
  margin-right: 25px;
  flex-grow: 1;
}

.card-link {
  height: 100%;  
}

.card {
  height: 100%;
  width: 334px;
  position: relative;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;  
  background-size: cover;
  background-position: center; 
}

.card_type_film {  
  background-image: url(../images/card-lot-01.jpg);  
}

.card_type_book { 
  background-image: url(../images/card-lot-02.jpg);  
}

.card_type_picture { 
  background-image: url(../images/card-lot-03.jpg);  
}

.card__title {
  width: 255px;
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: underline;
  color: white;  
  z-index: 1;
  margin-top: 50px;  
}

.card__text {  
  font-size: 20px;
  z-index: 1;
  color: white;
  width: 255px;
  margin-bottom: 50px;  
}

.lots__look-more-link {
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-left: 65px;
}

.about {  
  margin-top: 182px;
  display: grid;
  grid-template-columns: 334px calc(100% - 334px);
  margin-bottom: 180px;
}

.about__column {
  display: grid;
  grid-template-rows: 250px calc(100% - 250px);
  margin-left: 44px;
}

.about__logo {
  background-color: black;
  border-radius: 50%;
  height: 240px;
  width: 240px;
  justify-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 5px;
  align-self: center;
}

.about__text {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 25px;
}

.about__text__margin {
    margin-bottom: 25px;
    margin-right: 30px;    
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 90px;
}

.footer_contacts {
  margin-left: 50px;
}

.footer__menu {
  display: flex;
  justify-self: center;
  font-size: 18px;
}

.footer__menu-list {
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.footer__menu-list-item {
  list-style: none;
  align-self: center;
}

.footer__menu-link {
  align-self: center;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  list-style: none;
  align-self: center;
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-left: 25px;
  list-style-type: none;
}

.footer__social-link {
  display: flex;
  align-items: flex-start;
}

.footer__social-icon {
  height: 50px;
  width: 50px;
}
